<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Online Experiment</a>

            <div class="navbar-text navbar-left">
            <ol class="breadcrumb" style="display: inline; background-color: transparent">
            <%if(locals.pathNav == undefined || locals.pathNav.length == 0){%>
            <%}else{%>
                <%for(var i = 0; i < locals.pathNav.length; ++ i){
                    var currentPath = locals.pathNav[i];
                    if(currentPath.link && currentPath.link.length > 0){
                %>
                        <li><a class="navbar-link" href="<%=currentPath.link%>"><%=currentPath.name%> </a></li>
                    <%}else{%>
                        <li><%=currentPath.name%></li>
                    <%}%>
                <%}%>
            <%}%>
            </ol>
            </div>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <% if (locals.hasLogin) { %>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <%= locals.user.userName %> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <!--<li class="divider"></li>-->
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
                <% }else{ %>
                <li><a href="/login">Login</a></li>
                <% } %>
            </ul>
        </div>

    </div>
</nav>